* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: #E5E5E5;
}

.block__1 {
  position: absolute;
  width: 1350px;
  height: 259px;
  left: 0px;
  top: 0px;
  background: #DCB393;
}

.block__1 .poster {
  position: absolute;
  width: 180px;
  height: 107px;
  left: 48px;
  top: 44px;
  background: #FFFFFF;
}

.block__1 .look {
  position: absolute;
  width: 652px;
  height: 46px;
  left: 246px;
  top: 76px;
  background: #FFFFFF;
}

.block__1 .profile {
  position: absolute;
  width: 242px;
  height: 107px;
  left: 1080px;
  top: 16px;
  background: #FFFFFF;
}

.block__1 .profile .profava {
  position: absolute;
  width: 61px;
  height: 75px;
  left: 18px;
  top: 15px;
}

.block__1 .order {
  position: absolute;
  width: 242px;
  height: 107px;
  left: 1080px;
  top: 140px;
  background: #FFFFFF;
}

.block__1 .order .orderpict {
  position: absolute;
  width: 80px;
  height: 79px;
  left: 18px;
  top: 15px;
}

.block__1 .order .boxpict {
  position: absolute;
  width: 94px;
  height: 94px;
  right: 18px;
  top: 8px;
}

.block__2 {
  position: absolute;
  width: 1070px;
  height: 350px;
  left: 0px;
  top: 177px;
  background: #F8EC7D;
}

.block__2 .girl {
  position: absolute;
  width: 284px;
  height: 350px;
}
